.signup-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px 0;
    width: 380px;

}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

label {
    margin: 5px 0;
}

@media only screen and (min-width:400px) {
    .signup-page {
        display: flex;
        height: 100%;
        width: 800px;

    }

    .form-container {
        margin: 15px 0;
        width: 600px;
    }
    .input{
        width: 300px;
    }

}