
.SignupPage input{
    color: black;

.SignupPage {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.SignupPage * {
    max-width: 350px;
}

.SignupPage > form {
    width: 350px;
    display:flex;
    flex-direction: column;  
}

.submitbutton {
    margin-top: 20px;

}