

.post-card-container{
	display: flex;
	flex-direction: row;
	gap: 15px;
	margin-top: 10px;
	
}

.help-post-card{
	background-color: rgb(36, 72, 99);
	width: 150px;
	height: 100px;
	color: rgb(255, 255, 255);
	border-radius: 8px;
	padding: 5px;
	border: 0.2px solid whitesmoke;
	box-shadow: 2px 2px 3px rgb(45, 45, 45);
	line-height: 25px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */

}



.title {
	border-bottom: 1px solid whitesmoke;
	font-weight: 400;
	font-size: 16px;
}



.help-post-home .title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.help-post-home .location {

	margin-bottom: 10px;
}

.help-post-home .description {
	font-style: italic;

}