.testimony-testimonial {
    width: 75%;
	background: linear-gradient(180deg, rgb(152, 70, 155) 0%,  rgb(82, 118, 188) 95%);
    border-radius: 8px;
    padding: 10px;
    
    height: 140px;
    justify-content: space-between;
    align-items: flex-start;
}

.testimony-creator-testimonial {
    
    display: flex;
   align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
    padding: 5px;
    
    
}

.quote-testimonial{
    margin-left: 5px;
}

.testimony-creator-testimonial img{
    width:30px;
    max-height: 30px;
    border-radius: 50%;
}

.creator-name{
    font-weight: 600;
}

.testimony-testimonial .quote-testimonial {
padding-bottom: 10px;
}

.testimony-testimonial .quote::before {
content: '\201C';
}

.testimony-testimonial .quote::after {
content: '\201D';
}

.testimony-rating-testimonial {
	color: darkgoldenrod;
}

