.container-family-member{
margin: 5px;
cursor: pointer;
}

.family-member-card{
    padding: 10px;
    border-radius: 10px;
    border:1px solid #9ca1f3;
}
.family-member-card:hover{
    border: 3px solid #9ca1f3;
}
.family-member-img{
    width: 50px;
}
