

.user-profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;

}

.family-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.family-members-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

img{
    width: 100px;
}

.fa-envelope{

    color: blue;
}
.upload > input[type-file]{
    background-color: blue;
}
input[type=file]::file-selector-button {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #1408c2;
    color: white;
    transition: 1s;
  }
