/* .volunteerCard-link {
	
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 14px;
	display: flex;
    flex-direction: column;
	margin-bottom: 20px;
	text-decoration: none;
	color: black;
} */




.title-volunteerCard {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.name-volunteerCard{

	margin-bottom: 10px;
}

.email-volunteerCard {
	font-style: italic;

}

/* .image-volunteerCard{
    width: 60px;
} */