*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.btn-icon{
    font-size: 20px;
    padding: 12px;
    background-color: transparent;
}