.testimony {
    width: 160px;
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.testimony-creator {
    display: flex;
    flex-direction: column;
}

.testimony-creator img{
    width:50px;
    max-height: 50px;
    border-radius: 50%;
}

.testimony .quote {
padding-bottom: 10px;
}

.testimony .quote::before {
content: '\201C';
}

.testimony .quote::after {
content: '\201D';
}

.testimony-rating {
	color: darkgoldenrod;
}

