* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(252, 254, 255);
}


.post-details-container {
    line-height: 25px;
    
    
}

.help-container {
    background-image: url("	https://cdn.gopili.com/default/map_journeys/map-22900_1-21780_1.jpg"); 
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100vw;
    margin-bottom: 15px;

}

.post-details {
    font-size: 30px;
    
    color: rgb(20, 20, 20);
    box-shadow: 2px 2px 1px rgb(40, 40, 40);
    background-color: rgba(0, 0, 0, 0.3);
}

.info-post-container{
    padding: 20px;
}

.details-location{
    font-size: 20px;
    margin-bottom: 15px;
}
.description-title{
    font-size: 20px;
}

.info-title{
    margin-bottom: 30px;
    border-bottom: 1px solid whitesmoke;
}

.details-category{
    padding: 2px;
    margin-bottom: 25px;

}

.name-creator{
    font-size: 18px;
}

.creator-title{
    margin-top: 10px;
    font: 20px;
}

.volunteer{
    font-size: 30px;
}

.info-description{
    font-size: 16px;
}
.post-creator-container{
    display: flex;
    gap: 15px;
    
}
.creator-picture{
    max-width: 40px;
}

.I-can-help{
    color: rgb(240, 243, 247);
    outline: 1px solid whitesmoke;
    padding: 2px;
    width: 120px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 0 auto;
}

.edit-help-buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.edit-button{
    color: rgb(240, 243, 247);
    outline: 1px solid whitesmoke;
    padding: 2px;
    width: 130px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 0 auto;
}

