*{
    margin: 0;
    padding: 0;
}
.footer{
    margin: 10px 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 213, 255);
}
.names{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    cursor: pointer;
}
.fa-github{
    margin-right: 10px;
}