* {
	text-decoration: none;
	/* color: black; */
}

.home-page-container {
	display: flex;
	justify-content: center;
}

#home-content-wrapper {

	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
	width: 400px;

}

.home-title {
	font-size: 30px;
	font-weight: 300;

	text-align: center;
}

.posts-container {
	display: flex;
	justify-content: center;
}

.search-bar input {
	color: black;
}